<html>
    <head>
        <link href="index.css" type="text/css" rel="stylesheet"> 
    </head>
    <body>
        <header> 
            <h1 id='Title'>CREDIT SURF</h1>
            <div id="HeaderSearchForm" class="header-search-form">
                <form action="/cards" method="GET">
                    <h3>Search For Your Card</h3>  
                    <input type="text" name="CardName" id="Card-Search" class="SearchBar">
                    <input type="submit" id="SubmitCardSearch" class="SubmitButton">  
                </form>
            </div> 
        </header>
        <main>
            <ul id='CardList'>
                <li>
                    <div class='Card'> 
                        <img src='images/CapitalOneSavorCard.png' alt="Capital One Savor Card">
                        <div class="card-info">
                            <div class="card-name">
                                <h4>Card Name:</h4>
                                <h6>Capital One Savor Card</h6>
                            </div>
                            <div class="card-bank">
                                <h4>Bank:</h4>
                                <h6>Capital One</h6>
                            </div>
                            <div class="card-network">
                                <h4>Credit Network:</h4>
                                <h6>Mastercard</h6>
                            </div>
                        </div>
                        <div class="card-insurance">
                            <h4>Insurance Provided:</h4>
                            <h6>Primary</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
        <footer>
            <p>Created by Daniel and Doron Orbach<p>
            <p> Contact: doronorbach@yahoo.com </p>
        </footer>
    </body> 
</html>