<html>
    <head>
        <link href="index.css" type="text/css" rel="stylesheet"> 
    </head>
    <body>
        <header> 
            <h1 id='Title'>CREDIT SURF</h1>
            <h2 id="SubTitle">
                Save Money On Trips By Finding Your Credit Card's Car Rental Insurance Policy
            </h2>
        </header>
        <main>
            <div id="Forms" class="form-container">
                <div id="NameSearchForm" class="form-child">
                    <form action="/cards" method="GET">
                        <h3>Search For Your Card</h3>  
                        <input type="text" name="CardName" id="Card-Search" class="SearchBar">
                        <input type="submit" id="SubmitCardSearch" class="SubmitButton">  
                    </form>
                </div> 
            </div>
            <div> 
                <p>Credit Card Rental Insurance Policies typically differ in the countries they are available in, the type of coverage they provide, the price limits alloted, and the maximum rental periods they allow for. Most only provide coverage for damage/theft of the rental vehicle. Almost all will require you to decline the CDW offered by the rental company.</p>
            </div>
        </main>
        <footer>
            <p>Created by Daniel and Doron Orbach<p>
            <p> Contact: doronorbach@yahoo.com </p>
        </footer>
    </body> 
</html>